
html {
    background: url(images/testpicture.PNG) no-repeat fixed; 
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
body {
    line-height: 1.5;
    text-align: center;
    color: white;
}

.text {
    font-size: 10vw;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    display: block;
    font-family: 'Cinzel', serif;
    position: absolute;
    top: 50%;
    left:0;
    right:90%;
    margin:0 auto;
}

.text2 {
    font-size: 4vw;
    width:1px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    position: absolute;
    top: 43%;
    left: 10%;
    right:0%;
    margin:0 auto;
    font-family: 'Play', sans-serif;
    opacity: 0.5;
}


